.footer {
    background-color: #444;
    // padding-top: $pa-s;
    // padding-bottom: $pa-s;
    // margin-top: $ma-s;
}
.footer-contact {
    background-color: #444;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.footer-contact h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-contact p, ul, li, a {
    color: #eee;
}

.footer-contact ul {
    list-style: none;
    padding-left: 5px;
}

.quick_links li {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.quick_links a {
    text-decoration: none;
}
.subscribe label {
    color: #eee;
}
.subscribe input {
    opacity: 1;
    position: unset;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
}

.b-d-r {
    padding: 10px;
    border-right: 1px dotted #aaa;
}


.follow_us ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.follow_us svg:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1049px) {
    .footer-contact {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contact-us-parent {
    padding: 10px 20px;
}

.footer-copyright {
    background-color: #111;
    padding: 30px 10px;
}

.footer-copyright h2 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}