// src/scss/_variables.scss


// colors
$color-primary: #ddd;
$color-secondary: #cdcdcd;

$color-black: #000;

$color-darkgray: #636363;
$color-normalgray: #b0b0b0;
$color-lightgray: #f7f5f1;
$color-white: white;

// font-size
$font-size-xs: 0.875rem;
$font-size-s: 1rem;
$font-size-m: 1.12rem;
$font-size-l: 1.5rem;
$font-size-ml: 1.75rem;
$font-size-xl: 2rem;

// font-family
$font-type-normal: 'Source Sans Pro';

// padding size
$pa-xs: 0.5rem;
$pa-s: 1rem;
$pa-m: 1.25rem;
$pa-l: 1.5rem;
$pa-m: 1.75rem;
$pa-ml: 2rem;
$pa-mx: 60px;


// marign size
$ma-xs: 0.5rem;
$ma-s: 1rem;
$ma-m: 1.25rem;
$ma-l: 1.5rem;
$ma-m: 1.75rem;
$ma-ml: 2rem;
$ma-mx: 60px;